@import '../../_base.scss';

.iframe{
 height : 300px;
}

.watchscreen__channeldesc{
    display: flex;
    align-items: center;
    padding : 15px 10px;
    width: 100%;
    position: relative;
    font-size:  clamp(14px , 1vw , 18px);
   .title{
     font-size:  clamp(17px , 1.5vw , 25px);
     font-weight: bold;
   } 
   img{
       width : 40px;
       height: 40px;
       border-radius: 50%;
       object-fit: contain;
       margin-right: 10px;    
   }
   button{
       border : none;
       cursor : pointer;
      // background-color: red;
       color : white;
       padding : 0.5em;
       font-weight: bold;
       position: absolute;
       right: 10px;
   }

   .btn-red{
      background-color: red; 
   }

   .btn-grey{
     background-color: lightgray;
   }

   div{
     p{
         margin : 5px;
     }
   }
}

.watchscreen__videoinfo{
  padding : 10px;
  font-weight: 100;
   
  p{
   font-size: clamp(17px , 1.5vw , 25px);
  } 

  .details{
    display : flex;
    justify-content: space-between;
    align-items : center;
    margin-top: 10px;
    font-size:  clamp(14px , 1.1vw , 20px);
    div{
      display: flex;
      width: 20%;
      justify-content: space-between;
     
      span{
       display: flex;
       justify-content: space-between;
       align-items: center;
     }
    }
    
  }
}

.watchscreen__videodesc{
  padding : 10px;

.showmore{
   letter-spacing: 1px;
   word-spacing: 4px; 
    a{
 text-decoration: none;
  color: white;
 font-weight: bold;

  
    }
}  
}

@media(max-width : $breakpoint-small){

 .iframe{
   height: 250px;
 } 

.watchscreen__channeldesc{
  
 img{
   margin-right: 5px;
    }
 
  button{
      padding : 0.2em;
      position: absolute;
      right:5px;
  }  
} 

.watchscreen__videoinfo{
  padding: 5px;
  .details{
    font-size: 15px;
    div{
      margin-right: 10px;
      width : 30%;
   
    }
   
  }

}

}