@import '../../_base.scss';

.watchscreen{
 width : 80%;
 margin-left: auto;
 margin-top : auto;
 font-weight: 100;

hr{
  border : 0.1px solid $border-color;
}

 &__grid{
    margin-top: 10vh;
    padding: 10px;
  
  .related__videos{
    max-height: 100vh;
    overflow-y: scroll;
    -ms-overflow-style: none;  
    scrollbar-width: none; 

    &::-webkit-scrollbar {
      display: none;
    } 
  }
 }

}

@media(max-width : $breakpoint-small){
  .watchscreen{
    width : 100%;
    margin: auto;
    
    &__grid{
      padding : 0;
    }

    // .iframe{
    //   margin-left: 0;
    //   border : 1px solid red;
    // }
    
   
  }
  
}

@media(max-width : $breakpoint-medium){
  .watchscreen{
    width : 90%;

    // .iframe{
    //   width : 98%;
    //   height: 20%;
    // }
  }
}